<a href="https://colab.research.google.com/github/CodingAW/Project-131/blob/main/Project_131.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
from google.colab import files
u = files.upload()

Saving P130.csv to P130.csv

In [57]:
import pandas as pd
import csv

In [58]:
df = pd.read_csv("P130.csv")
df.head()

   Unnamed: 0       Star_name     Distance  Mass Radius
0           0             Sun  0.000015813   1.0      1
1           1          Sirius          8.6   2.1   1.71
2           2         Canopus          310  15.0     71
3           3  Alpha Centauri          4.4   1.1    1.2
4           4        Arcturus           37   1.1     26

In [59]:
df.drop(["Unnamed: 0"], axis= 1, inplace= True)
df.head()

        Star_name     Distance  Mass Radius
0             Sun  0.000015813   1.0      1
1          Sirius          8.6   2.1   1.71
2         Canopus          310  15.0     71
3  Alpha Centauri          4.4   1.1    1.2
4        Arcturus           37   1.1     26

In [60]:
df.dtypes
df['Radius'] = df['Radius'].apply(lambda x: x.replace("$", " ").replace(",", "")).astype("float")
# df.head()

In [67]:
mass = df["Mass"].tolist()
radius = df["Radius"].tolist()

gravity = []

def convert(radius, mass):
  for i in range(0, len(radius) - 1):
    radius[i] = radius[i] * 6.957e+8
    mass[i] = mass[i] * 1.989e+30

convert(radius, mass)

In [68]:
def Gravity(radius, mass):
  G = 6.674e-11

  for i in range(0, len(mass)):
    g = float((mass[i] * G) / ((radius[i]) ** 2))
    gravity.append(g)

Gravity(radius, mass)

df['Gravity'] = gravity
df

                  Star_name     Distance       Mass     Radius       Gravity
0                       Sun  0.000015813   1.000000   1.000000  2.742692e+02
1                    Sirius          8.6   2.100000   1.710000  1.969718e+02
2                   Canopus          310  15.000000  71.000000  8.161153e-01
3            Alpha Centauri          4.4   1.100000   1.200000  2.095112e+02
4                  Arcturus           37   1.100000  26.000000  4.462960e-01
..                      ...          ...        ...        ...           ...
248  2MASSI J2356547-155310           74   0.076367   0.112012  1.669385e+03
249          WISE 0410+1502           20   0.005728   0.120233  1.086673e+02
250         WISE 0458+6434A         35.9   0.014319   0.431605  2.108201e+01
251         WISE 0458+6434B         35.9   0.009546   0.390499  1.716928e+01
252          WISE 1405+5534         25.3   0.028638   0.088376  2.447107e-10

[253 rows x 5 columns]

In [70]:
df.to_csv("star_with_gravity.csv")

In [71]:
df.dtypes

Star_name     object
Distance      object
Mass         float64
Radius       float64
Gravity      float64
dtype: object